<% layout('layouts/boilerplate')%> 
<link rel="stylesheet" type="text/css" href="/stylesheets/card.css" />   

<h1 style="color: rgb(25, 22, 18); text-align: center; font-family: Gill Sans;">FOOTBALLL</h1>
<div>
   <a style="background-color: green; border-width: 0ch;padding: 10px;font-size: large;" class="btn btn-primary" href="/campgrounds/new">Add Venue</a>
   <a style="background-color: green; border-width: 0ch;padding: 10px;font-size: large;" class="btn btn-primary" href="../sports">See Other Category</a>
   <link rel="stylesheet" href="style.css">

</div>
<style>
    body{
        background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/2ce6bd34096430.56c3e8bb34fe8.gif");
  background-size: cover;  
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  background-position: center;
    }
</style>
<% for (let campground of campgrounds){
    if(campground.title === "Football" && !campground.author.equals(currentUser._id)) {%>
        <div class="venues-container">
            <div class="card">
                <div class="card-image">
                    <img src="<%=campground.image%>" alt="">
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><b>Slots Available:</b> <%= campground.participants%></p>
                    <p class="card-text"><b><%= campground.description %></b></p>
                    <p class="location-text"><b><%= campground.location%></b></p>
                    <a class="btn" href="/campgrounds/<%=campground._id%>">View Details</a>
                </div>
            </div>
        </div>
    <% }
}%>